# Integer

In [1]:
1000000

1000000

In [2]:
type(10)

int

In [3]:
print(10)
print(type(10))

10
<class 'int'>

# Floating Point

In [4]:
print(4.2)
print(type(4.2))

print(4.)
print(.2)
print(.4e7)
print(4.2e-4)

4.2
<class 'float'>
4.0
0.2
4000000.0
0.00042

# String

In [5]:
print('PYTN-KS17')
print(type('PYTN-KS17'))

PYTN-KS17
<class 'str'>

In [6]:
#kosong
print('')

In [8]:
print("this string contains single quote (') character.")
print('this string contains double quote (") character.')

this string contains single quote (') character.
this string contains double quote (") character.

In [9]:
print('coba''kutip')

cobakutip

# Boolean

In [10]:
print(type(True))
print(type(False))

<class 'bool'>
<class 'bool'>

# Variabel
## Assignment

In [12]:
n = 300
print(n)

300

In [13]:
n

300

In [14]:
n = 1000
print(n)
n

1000

1000

In [15]:
# Multiple Assignment
a = 300
b = 300
c = 300
print(a, b, c)

300 300 300

# Variable Types

In [16]:
var = 42.0
print(var)

var = 'Jadi String'
print(var)

42.0
Jadi String

In [17]:
name = 'Hacktiv8'
Age = 69
has_laptop = True

print(name, Age, has_laptop)

Hacktiv8 69 True

In [18]:
7_sins = True

SyntaxError: invalid decimal literal (980072853.py, line 1)

In [19]:
sins_7 = True

In [20]:
age = 1
Age = 2
aGe = 3
AGE = 4
a_g_e = 5

In [21]:
print(age, Age, aGe, AGE, a_g_e)

1 2 3 4 5

In [22]:
# camelCase
tinggiBadan = 170.0
hasPhoneOrLaptop = True

# PascalCase
TinggiBadan = 168.0
HasPhoneOrLaptop = False

# snake_case
tinggi_badan = 160.0
has_phone_or_laptop = True

In [23]:
print(tinggiBadan, hasPhoneOrLaptop)
print(TinggiBadan, HasPhoneOrLaptop)
print(tinggi_badan, has_phone_or_laptop)

170.0 True
168.0 False
160.0 True

# Operators and Expression

In [24]:
a = 10
b = 20
a+b

30

In [25]:
a+b-5

25

# Aritmethic Operators

In [26]:
a = 4
b = 3

print(a + b)
print(a - b)
print(a * b)
print(a / b)
print(a % b)
print(a ** b)

print(62 // 3) # Floor Division

7
1
12
1.3333333333333333
1
64
20

In [27]:
10 / 5

2.0

# Comparison Operators

In [28]:
a = 10
b = 20

print(a == b)
print(a != b)
print(a <= b)
print(a >= b)

print(a < b)
print(a > b)

False
True
True
False
True
False

In [29]:
a = 30
b = 30

print(a == b)
print(a <= b)
print(a >= b)

True
True
True

# String Manipulation

In [30]:
s = 'foo'
t = 'bar'
u = 'baz'

In [31]:
print(s+t+u)

foobarbaz

In [32]:
print('test '+'string')

test string

In [33]:
s*4

'foofoofoofoo'

In [35]:
print(s in 'That good for us')

False

In [36]:
s = 'HackTIV8 Python test'

In [37]:
print(s.capitalize())

Hacktiv8 python test

In [38]:
print(s.lower())

hacktiv8 python test

In [39]:
print(s.swapcase())

hACKtiv8 pYTHON TEST

In [40]:
print(s.title())

Hacktiv8 Python Test

In [41]:
print(s.upper())

HACKTIV8 PYTHON TEST

# List

In [42]:
var = ['foo', 'bar', 'baz', 'qux']
var2 = ['bar', 'foo', 'baz', 'qux']

In [43]:
type(var)

list

In [44]:
var == var2

False

In [45]:
var3 = [420, 'text', True, 6.9, 'test']

In [46]:
for item in var3:
    print(item, ' is ', type(item))

420  is  <class 'int'>
text  is  <class 'str'>
True  is  <class 'bool'>
6.9  is  <class 'float'>
test  is  <class 'str'>

In [47]:
print(var3[0])
print(var3[3])
print(var3[4])

420
6.9
test

In [48]:
print(var3[-1])

test

In [49]:
print(var3[1:4])

['text', True, 6.9]

In [50]:
print(var3 + ['grault', 'graply'])

[420, 'text', True, 6.9, 'test', 'grault', 'graply']

In [51]:
var3 = var3 + ['grault', 'graply']

In [52]:
var3

[420, 'text', True, 6.9, 'test', 'grault', 'graply']

In [53]:
print(var3 * 2)

[420, 'text', True, 6.9, 'test', 'grault', 'graply', 420, 'text', True, 6.9, 'test', 'grault', 'graply']

In [54]:
print(len(var3))

7

In [55]:
print(min(var2))

bar

In [56]:
print(max(var2))

qux

In [57]:
print(min(var3))

TypeError: '<' not supported between instances of 'str' and 'int'

In [58]:
var3[3] = 20

In [59]:
var3

[420, 'text', True, 20, 'test', 'grault', 'graply']

In [62]:
var3[-1]='grape'

In [64]:
var3

[420, 'text', True, 20, 'test', 'grault', 'grape']

In [65]:
del var3[-3]

In [66]:
var3

[420, 'text', True, 20, 'grault', 'grape']

In [67]:
var3[2:4] = [False, False, 7.5]

In [68]:
var3

[420, 'text', False, False, 7.5, 'grault', 'grape']

# Tuple

In [69]:
t = ('foo', 'bar', 'baz', 'qux', 'quux', 'corge')

In [70]:
print(t)

('foo', 'bar', 'baz', 'qux', 'quux', 'corge')

In [71]:
type(t)

tuple

In [72]:
print(t[0])
print(t[-2])

foo
quux

In [73]:
s1, s2, s3, s4, s5, s6 = t

In [74]:
print(s1)
print(s2)
print(s3)
print(s4)
print(s5)
print(s6)

foo
bar
baz
qux
quux
corge

# Dictionary

In [75]:
MLB_team = {
    'Colorado' : 'Rockies',
    'Boston' : 'Red Sox',
    'Minnesota' : 'Twins'
}

In [76]:
MLB_team['Colorado']

'Rockies'

In [77]:
MLB_team['Minnesota']

'Twins'

In [78]:
MLB_team['Kansas City'] = 'Royals'
MLB_team

{'Colorado': 'Rockies',
 'Boston': 'Red Sox',
 'Minnesota': 'Twins',
 'Kansas City': 'Royals'}

In [80]:
MLB_team['Boston'] = 'RedSox'
MLB_team

{'Colorado': 'Rockies',
 'Boston': 'RedSox',
 'Minnesota': 'Twins',
 'Kansas City': 'Royals'}

In [82]:
del MLB_team['Minnesota']

KeyError: 'Minnesota'

In [83]:
MLB_team

{'Colorado': 'Rockies', 'Boston': 'RedSox', 'Kansas City': 'Royals'}

In [84]:
person = {}

In [85]:
type(person)

dict

In [86]:
person['fname'] = 'Hack'
person['lname'] = 'PTP'
person['Age'] = 51
person['spouse'] = 'Edna'
person['children'] = ['Ralph', 'Betty', 'Joey']
person['pets'] = {
    'dog' : 'Fido',
    'cat' : 'Sox'
}

person

{'fname': 'Hack',
 'lname': 'PTP',
 'Age': 51,
 'spouse': 'Edna',
 'children': ['Ralph', 'Betty', 'Joey'],
 'pets': {'dog': 'Fido', 'cat': 'Sox'}}

In [87]:
print(person['fname'])
print(person['Age'])

Hack
51

In [88]:
person['children'][1]

'Betty'

In [89]:
person['pets']['cat']

'Sox'

In [90]:
print(person.items())

dict_items([('fname', 'Hack'), ('lname', 'PTP'), ('Age', 51), ('spouse', 'Edna'), ('children', ['Ralph', 'Betty', 'Joey']), ('pets', {'dog': 'Fido', 'cat': 'Sox'})])

In [91]:
print(person.keys())

dict_keys(['fname', 'lname', 'Age', 'spouse', 'children', 'pets'])

In [92]:
print(person.values())

dict_values(['Hack', 'PTP', 51, 'Edna', ['Ralph', 'Betty', 'Joey'], {'dog': 'Fido', 'cat': 'Sox'}])

# Line Continuation

In [93]:
person1_age= 42
person2_age = 16
person3_age = 71

In [94]:
benarkah = (person1_age >=18 and person1_age <= 65) or (person2_age >=18 and person2_age <= 65) or (person3_age >=18 and person3_age <= 65)

In [95]:
benarkah

True