# Conditional

In [7]:
x = 0
y = 5

if x < y:
    print('yes')

yes

In [8]:
if x:
    print('yes')

In [9]:
if y:
    print('yes')

yes

In [10]:
y = -3

if x:
    print('yes')
    print('ok')

In [11]:
if 'foo' in ['bar', 'baz', 'qux', 'foo']:
    print('Expression was True')
    print('Executing statement in suite')
    print('...')
    print('Done')
    
print('After Conditional')

Expression was True
Executing statement in suite
...
Done
After Conditional

In [12]:
if 'foo' in ['bar', 'baz', 'foo']:
    print('Outer condition is True')
    
    if 10 > 20:
        print('Inner Condition 1')
    
    if 10 < 20:
        print('Inner Condition 2')
    
    print('End of Outer Condition')
    
print('After Conditional')

Outer condition is True
Inner Condition 2
End of Outer Condition
After Conditional

# Else & Elif clause

In [13]:
x = 60

if x < 50: print('(first suite)'); print('x is small')
else :
    print('(second suite)')
    print('x is large')

(second suite)
x is large

In [14]:
hargaBuku = 20000
hargaMajalah = 5000
uang = 2000

if uang > hargaBuku:
    print('beli Buku')
else :
    print('uang tidak cukup')

uang tidak cukup

In [15]:
hargaBuku = 20000
hargaMajalah = 5000
uang = 2000

if uang > hargaBuku:
    print('beli Buku')
elif uang > hargaMajalah:
    print('beli Majalah')
else :
    print('uang tidak cukup')

uang tidak cukup

In [16]:
name = 'Hacktiv8'

if name=='Fred':
    print('Hello Fred!')
elif name=='Xander':
    print('Hello Xander')
elif name=='Hacktiv8':
    print('Hello Hacktiv8')
elif name=='Arnorld':
    print('Hello Arnold')
else :
    print("I don't know who you are!")

Hello Hacktiv8

In [17]:
if 'a' in 'bar':
    print('foo')

foo

# If Statement

In [18]:
if '' in 'foo': print('1'); print('2'); print('3')

1
2
3

In [19]:
x = 2

if x==1 : print('foo'); print('bar'); print('baz')
elif x==2 : print('qux'); print('quux')
else : print('corge'); print('grault')

qux
quux

# Conditional Expression

In [20]:
raining = False
print('Lets go to the', 'beach' if not raining else 'library')

Lets go to the beach

In [21]:
raining = True
print('Lets go to the', 'beach' if not raining else 'library')

Lets go to the library

In [22]:
age = 12
s = 'teen' if age<21 else 'adult'

In [23]:
s

'teen'

In [24]:
'yes' if ('qux' in ['foo', 'bar', 'baz']) else 'no'

'no'

In [25]:
# Python pass Statement

In [26]:
if 1 :
    pass
print('foo')

foo

In [27]:
n = 5
while n > 0:
    n -= 1
    print(n)

4
3
2
1
0

In [28]:
i = 1
while i < 6:
    print(i)
    i += 1

1
2
3
4
5

In [29]:
n = 5
while n > 0:
    n -= 1
    if n == 2:
        break
    print(n)
print('Loop Ended.')

4
3
Loop Ended.

In [30]:
n = 5
while n > 0:
    n -= 1
    if n == 2:
        continue
    print(n)
print('Loop Ended.')

4
3
1
0
Loop Ended.

In [31]:
# else clause
n = 5
while n > 0:
    n -= 1
    if n == 2:
        continue
    print(n)
print('Loop Ended.')

4
3
1
0
Loop Ended.

In [32]:
n = 5
while n > 0:
    n -= 1
    print(n)
    if n == 2:
        break
else :
    print('Loop Ended.')

4
3
2

In [ ]:
#Nested while loop
a = ['foo', 'bar']

while len(a):
    print(a.pop(0))
    
    b = ['baz', 'qux']
    while len(b):
        print('>', b.pop(0))

In [ ]:
#one-line while loop
n = 5

while n > 0: n-=1; print(n)

In [ ]:
#for loop
a = ['foo', 'bar', 'baz']

for val in a:
    print(val)

In [ ]:
#loop with dict
d = {'foo' : 1,
     'bar' : 2,
     'baz' : 3}

In [ ]:
for k in d:
    print(k)

In [ ]:
d['bar']

In [ ]:
for k in d:
    print(d[k])

In [ ]:
for k in d.values():
    print(k)

In [ ]:
for k, v in d.items():
    print(k, ':', v)

In [ ]:
#loop with range
for n in (0, 1, 2, 3, 4):
    print(n)

In [ ]:
for n in range(6):
    print(n)

In [ ]:
#Altering loop behaviour
for i in ['foo', 'bar', 'baz', 'qux']:
    if 'b' in i:
        break
    print(i)

In [ ]:
for i in ['foo', 'bar', 'baz', 'qux']:
    if 'b' in i:
        continue
    print(i)

In [ ]:
#else clause
for i in ['foo', 'bar', 'baz', 'qux']:
    print(i)
else : 
    print('Done')

In [ ]:
for i in ['foo', 'bar', 'baz', 'qux']:
    if 'bar' == i:
        break
    print(i)
else : 
    print('Done')

# Example

In [ ]:
temp = input('Ketikan Temperatur yang ingin dikonversi, eg. 45F, 120C: ')
degree = int(temp[:-1])
satuan = temp[-1].upper()

if satuan == 'C':
    result = int(round((9 * degree) / 5 + 32))
elif satuan == 'F':
    result = int(round((degree - 32) + 5/ 9))
else : 
    print('Masukan input yang benar')
    
print('Temperaturnya adalah', result, 'derajat')

In [ ]:
while True:
    msg = input('Ketikan karakter: ').lower()
    print(msg)
    if msg == 'stop':
        break